.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    position: relative;

    &__side {
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        border-radius: 5px;
        box-shadow: $std-box-shadow; // 0 in the x-direction, 40px blur, rgba black, 15% opacity??
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }

    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}

//.card:hover .card__side { (don't put the hover on the card__side directly because we have more sides later